body {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    background: dimgrey;
}

.container {
    min-height: 100%;
    width: min(100%, 768px);
    display: flex;
}

.center {
    margin: auto;
}

.card {
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;
    background: whitesmoke;

}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    font-weight: bold;
    line-height: 2rem;
    height: 2rem;
    color: whitesmoke;
    border: none;
    border-radius: 1.5rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.primary {
    background: forestgreen;
}

.danger {
    background: tomato;
}

.form-control {
    margin-bottom: 1rem;
}

input {
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-item {
    padding: 1rem;
    background: wheat;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}